* {
    box-sizing: border-box;

}

body {
    margin: 0;
    width: 100%;
}

#logo {
    width: 100px;
}

header {
    width: 100%;
    position: fixed;
    padding: 0 auto;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    background-color: #cca69b;
}



.barra ul {
    display: flex;
    list-style: none;
}

.barra li {
    margin-left: 25px;
}

.barra a {
    text-decoration: none;
    color: azure;
    font-size: 27px;
}

.barra a:hover {
    color: chartreuse;
    font-size: 29px;
    border-bottom: 1px solid chartreuse;
}



.fila {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /*Para que los elementos esten en una misma
    linea, Distribucion de contenido en filas*/
}

.columna1 {
    flex: 20%;
    background-color: #cca69b;
    padding: 40px 0px;
}

.columna2 {
    flex: 70%;
    //background-color: #d171f7;
    padding: 20px;
}



.columna2 h1,
h3 {
    font-size: 40px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 45px;

}

.columna2 p {
    font-size: 20px;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 5px;

}

.imgcar {
    width: 100%;
    height: 800px;
}

.targetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.card {
    position: relative;
    width: 100%;
    height: 400PX;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: .5s;
}

.card .front {
    box-shadow: 0 5px 10px black;
    transform: perspective(800px) rotateY(0);

    /*falta propiedad */
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;

}

.card .front h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 45px;
}

.card .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(68, 19, 133);
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 10px black;
    transform: perspective(800px) rotateY(180deg);

    /*Falta propiedad */
}

.card:hover .front {
    transform: perspective(800px) rotateY(180deg);


}

.card:hover .back {
    transform: perspective(800px) rotateY(360deg);

}