header ul
{
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f2eee5;
  height: 100%;
  position: fixed;
  overflow: auto;
}
header li a
{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
header li a:hover
{
  background-color: #a45c44;
  color: white;
}
header li a.active {
  background-color: #96b19b;
  color: white;
}
header li a:hover:not(.active) {
  background-color: #a45c44;
  color: white;
}
/*-------------------------------------*/
body
{
  background-color: #cca69b;
}
p
{
    text-align: left;
}
/*---------------texto: centrado y fuente ---------------*/
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}
/*----------footer--------*/
.footer
{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cca69b;
  color: #333;
  text-align: center;
}
.footer p
{
  font-size: 10px;
}
.creditos
{
  text-align: center;
  padding-bottom: 2%;
}
